*, p, div {
	margin: 0;
	padding: 0;
}

.wrapper {
	/*border: 2px solid orange;*/
	width: 95%;
	margin: 0 auto;
}

.wrapper h1, .wrapper h2, .wrapper p {
	border: 2px solid cyan;
	margin: 10px auto;
	text-align: center;
	width: 60%;
}

.html-wrapper, .css-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 90%;
	margin: 10px auto;
	border: 2px solid orange;
}
.code-portion {
	border: 2px solid yellow;
}

.code-portion p:first-child {
	width: 90%;
	margin: 10px auto;
	padding: 5px;
}

.outcome-portion {
	border: 2px solid cyan;
}
.code-portion #input-example, .code-portion #div-example, .code-portion #p-example, .code-portion #h3-example {
	margin: 0 auto;
	cursor: pointer;
	/*background-color: red;*/
}
#input-example:hover {
	background-color: red;
}
#div-example:hover {
	background-color: red;
}
#p-example:hover {
	background-color: red;	
}

#h3-example:hover {
	background-color: red;
}

#input-destination, #div-destination, #p-destination, #h3-destination {
	border: 2px solid black;
	padding: 5px;
	width: 90%;
	margin: 10px auto;
	visibility: hidden;
}

#input-destination-css, #div-destination-css, #p-destination-css, #h3-destination-css {
	border: 2px solid black;
	padding: 5px;
	width: 90%;
	margin: 10px auto;
}












