*, p, div {
	margin: 0;
	padding: 0;
}

.wrapper {
	border: 2px solid orange;
	width: 95%;
	margin: 0 auto;
}

 .instructions {
	border: 2px solid cyan;
	margin: 10px auto;
	text-align: center;
	width: 60%;
}

.html-wrapper, .css-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 90%;
	margin: 10px auto;
	border: 2px solid orange;
}
.code-portion {
	border: 2px solid yellow;
}

.code-portion p:first-child {
	width: 90%;
	margin: 10px auto;
	padding: 5px;
}

.outcome-portion {
	border: 2px solid tomato;
}
#h1-example, #img-example, #p-example, #input-example {
	margin: 0 auto;
	cursor: pointer;
	/*background-color: red;*/
}

#h1-example:hover, #img-example:hover, #p-example:hover, #input-example:hover {
	background-color: red;
}

#h1-destination, #p-destination, #input-destination {
	visibility: hidden;
}














